


.contact{
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    overflow-x: hidden;
}

.ima{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 18%;
    left: 20%;
    overflow: hidden;
    overflow-x: hidden;

}

