.top{
    
    
    padding: 1px;
    background-color: #340100;
    color: #340100;
    border-radius: 50px;
    margin-left: 400px;
    margin-right:400px;

}

.top ul{
    display: flex;
    gap: 15%;
    list-style-type: none;
    /* justify-content: center; */
    justify-content: center;
    font-weight: bold;
    font-size: xx-large;
    color: #ffffff;
    margin-right: 50px;

}